.mainBoard {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1fr;
}

.diceBoard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1fr;
}

button {
  background-color: #6679ff;
  color: #ffffff;
  border: none;
  border-radius: 5%;
}

#rollBtn {
  font-size: 1rem;
  margin: 1rem;
}
